<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ServidorWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="BotWoWEntities" connectionString="metadata=res://*/BD.ModelBot.csdl|res://*/BD.ModelBot.ssdl|res://*/BD.ModelBot.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=;initial catalog=Bot;user id=bot;password=senha1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="BotWoWEntities" connectionString="metadata=res://*/BD.ModelBot.csdl|res://*/BD.ModelBot.ssdl|res://*/BD.ModelBot.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=187.45.214.170;initial catalog=Bot;persist security info=True;user id=bot;password=senha1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="NSAADMEntities" connectionString="metadata=res://*/BD.ModelML.csdl|res://*/BD.ModelML.ssdl|res://*/BD.ModelML.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RICARDO-PC\SQLEXPRESS2;initial catalog=NSAADM;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Ricardo-PC" connectionString="metadata=res://*/BD.ModelML.csdl|res://*/BD.ModelML.ssdl|res://*/BD.ModelML.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=187.45.214.170;initial catalog=NSAADM_HML;user id=mestre_hml;password=DisjuSepin;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PC_01" connectionString="metadata=res://*/BD.ModelML.csdl|res://*/BD.ModelML.ssdl|res://*/BD.ModelML.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=187.45.214.170;initial catalog=NSAADM_HML;user id=mestre_hml;password=DisjuSepin;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DGTEC-DESIS-RBC" connectionString="metadata=res://*/BD.ModelML.csdl|res://*/BD.ModelML.ssdl|res://*/BD.ModelML.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DGTEC-DESIS-RBC\SQLEXPRESS;initial catalog=NSAADM;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NSAADMEntitiesProducao" connectionString="metadata=res://*/BD.ModelML.csdl|res://*/BD.ModelML.ssdl|res://*/BD.ModelML.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=;Initial Catalog=NSAADM;user ID=mestre; password=DisjuSepin;multipleactiveresultsets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="MyCookie" loginUrl="Login.aspx" timeout="30" />
    </authentication>
    <authorization>
      <allow users="*" />
      <allow verbs="POST" users="*" />
    </authorization>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="true" />
    </defaultProxy>
  </system.net>
  <location path="ML/Paginas/CallBack.aspx" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ML/Paginas/LoginML.aspx" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Index.aspx" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WSBot.asmx" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Imagem/logonerd.jpg" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Imagem/contatoNerd.jpg" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Imagem/canon50mm.jpg" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Imagem/mercadopago.jpg" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Imagem/Nerd.jpg" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Imagem/santander.jpg" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Imagem/nikon70300mm.jpeg" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Imagem/nikon50mm.jpg" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Imagem/nikonsb910.jpg" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <applicationSettings>
    <ServidorWeb.Properties.Settings>
        <setting name="URL_Login" serializeAs="String">
            <value>http://nerdsa.com.br/ML/Paginas/LoginML.aspx</value>
        </setting>
        <setting name="IDAplicacaoML_PRD" serializeAs="String">
            <value>5971480328026573</value>
        </setting>
        <setting name="IDAplicacaoML_HML" serializeAs="String">
            <value>204535970023447</value>
        </setting>
        <setting name="SecretKeyML_PRD" serializeAs="String">
            <value>HvQavElFhrbqlGCaTMWIrtQklsqnwlIM</value>
        </setting>
        <setting name="SecretKeyML_HML" serializeAs="String">
            <value>ELpYd8hEx0z0D9ZbGs87jm20qArSgAzb</value>
        </setting>
    </ServidorWeb.Properties.Settings>
  </applicationSettings>
</configuration>
